<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by
Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->

<robot
  name="y4a6dof">

  <mujoco>
    <compiler meshdir="../meshes" discardvisual="false" balanceinertia="false" />
  </mujoco>

  <!-- <link name="world"></link>
  <joint name="base_joint" type="floating">
    <parent link="world" />
    <child link="base_link" />
  </joint> -->

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0031866 0.0024622 0.077211"
        rpy="0 0 0" />
      <mass
        value="9.7803" />
      <inertia
        ixx="0.18381"
        ixy="1.931E-05"
        ixz="0.011015"
        iyy="0.17379"
        iyz="-0.00094559"
        izz="0.03729" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.86667 0.86667 0.8902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_hip_pitch_link">
    <inertial>
      <origin
        xyz="-0.0054202 0.080914 -0.00093706"
        rpy="0 0 0" />
      <mass
        value="1.801" />
      <inertia
        ixx="0.0039907"
        ixy="5.211E-05"
        ixz="0.00015616"
        iyy="0.0028771"
        iyz="1.133E-05"
        izz="0.0031257" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.86667 0.86667 0.8902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_hip_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_pitch_joint"
    type="revolute">
    <origin
      xyz="0.0055 0.05745 -0.069"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_hip_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.3562"
      upper="3.0543"
      effort="90"
      velocity="16.441" />
  </joint>
  <link
    name="left_hip_roll_link">
    <inertial>
      <origin
        xyz="-0.029905 -0.0004783 -0.20363"
        rpy="0 0 0" />
      <mass
        value="3.1782" />
      <inertia
        ixx="0.044826"
        ixy="-1.66E-05"
        ixz="-0.0018788"
        iyy="0.046243"
        iyz="-0.00017433"
        izz="0.005502" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_hip_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.86667 0.86667 0.8902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.03 0.0 -0.2"
        rpy="0 0 0" />
      <geometry>
        <!-- <mesh filename="../meshes/left_hip_roll_link.STL" /> -->
        <box size="0.10 0.06 0.20" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_roll_joint"
    type="revolute">
    <origin
      xyz="0.03048 0.08605 0.0053744"
      rpy="0 -0.17453 0" />
    <parent
      link="left_hip_pitch_link" />
    <child
      link="left_hip_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.2618"
      upper="1.7453"
      effort="90"
      velocity="14.661" />
  </joint>
  <link
    name="left_knee_link">
    <inertial>
      <origin
        xyz="-0.026177 -0.034696 -0.18407"
        rpy="0 0 0" />
      <mass
        value="1.5128" />
      <inertia
        ixx="0.024367"
        ixy="-0.00020283"
        ixz="-0.0044602"
        iyy="0.025409"
        iyz="-0.0011184"
        izz="0.0029116" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_knee_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.86667 0.86667 0.8902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.015 -0.035 -0.21"
        rpy="0 0.2 0" />
      <geometry>
        <!-- <mesh filename="../meshes/left_knee_link.STL" /> -->
        <box size="0.06 0.03 0.25" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_knee_joint"
    type="revolute">
    <origin
      xyz="-0.03445 0.03495 -0.3"
      rpy="0 0.17453 0" />
    <parent
      link="left_hip_roll_link" />
    <child
      link="left_knee_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.33161"
      upper="2.1991"
      effort="130"
      velocity="14.661" />
  </joint>
  <link
    name="left_wheel_link">
    <inertial>
      <origin
        xyz="-3.395E-05 0.024484 -1.108E-05"
        rpy="0 0 0" />
      <mass
        value="0.94045" />
      <inertia
        ixx="0.0023021"
        ixy="-1E-07"
        ixz="1.1E-07"
        iyy="0.0043825"
        iyz="-4E-08"
        izz="0.0023019" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.86667 0.86667 0.8902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0.03 0"
        rpy="1.5707963 0 0" />
      <geometry>
        <!-- <mesh filename="../meshes/left_wheel_link.STL" /> -->
        <cylinder radius="0.1" length="0.03" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wheel_joint"
    type="fixed"
    dont_collapse="true">
    <origin
      xyz="-0.052094 -0.01245 -0.29544"
      rpy="0 0 0" />
    <parent
      link="left_knee_link" />
    <child
      link="left_wheel_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-10000000"
      upper="10000000"
      effort="60"
      velocity="15.603" />
  </joint>
  <link
    name="right_hip_pitch_link">
    <inertial>
      <origin
        xyz="-0.0054598 -0.080931 -0.00096148"
        rpy="0 0 0" />
      <mass
        value="1.8053" />
      <inertia
        ixx="0.0039992"
        ixy="-5.173E-05"
        ixz="0.00015498"
        iyy="0.0028718"
        iyz="-1.736E-05"
        izz="0.0031397" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.86667 0.86667 0.8902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_pitch_joint"
    type="revolute">
    <origin
      xyz="0.0055 -0.05745 -0.069"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_hip_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.3562"
      upper="3.0543"
      effort="90"
      velocity="16.441" />
  </joint>
  <link
    name="right_hip_roll_link">
    <inertial>
      <origin
        xyz="-0.029835 0.00047888 -0.20347"
        rpy="0 0 0" />
      <mass
        value="3.1782" />
      <inertia
        ixx="0.044726"
        ixy="1.119E-05"
        ixz="-0.0018555"
        iyy="0.046142"
        iyz="0.00016232"
        izz="0.0055004" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.86667 0.86667 0.8902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.03 0.0 -0.2"
        rpy="0 0 0" />
      <geometry>
        <!-- <mesh filename="../meshes/right_hip_roll_link.STL" /> -->
        <box size="0.10 0.06 0.20" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_roll_joint"
    type="revolute">
    <origin
      xyz="0.03048 -0.08605 0.0053744"
      rpy="0 -0.17453 0" />
    <parent
      link="right_hip_pitch_link" />
    <child
      link="right_hip_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.7453"
      upper="0.2618"
      effort="90"
      velocity="14.661" />
  </joint>
  <link
    name="right_knee_link">
    <inertial>
      <origin
        xyz="-0.026177 0.034694 -0.18407"
        rpy="0 0 0" />
      <mass
        value="1.5128" />
      <inertia
        ixx="0.024367"
        ixy="0.00020282"
        ixz="-0.0044602"
        iyy="0.025409"
        iyz="0.0011184"
        izz="0.0029117" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_knee_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.86667 0.86667 0.8902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.015 0.035 -0.21"
        rpy="0 0.2 0" />
      <geometry>
        <!-- <mesh filename="../meshes/right_knee_link.STL" /> -->
        <box size="0.06 0.03 0.25" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_knee_joint"
    type="revolute">
    <origin
      xyz="-0.03445 -0.03495 -0.3"
      rpy="0 0.17453 0" />
    <parent
      link="right_hip_roll_link" />
    <child
      link="right_knee_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.33161"
      upper="2.1991"
      effort="130"
      velocity="14.661" />
  </joint>
  <link
    name="right_wheel_link">
    <inertial>
      <origin
        xyz="5.78E-06 -0.024484 3.714E-05"
        rpy="0 0 0" />
      <mass
        value="0.94045" />
      <inertia
        ixx="0.0023019"
        ixy="-2E-08"
        ixz="5E-08"
        iyy="0.0043825"
        iyz="-1.1E-07"
        izz="0.0023022" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 -0.03 0"
        rpy="1.5707963 0 0" />
      <geometry>
        <!-- <mesh filename="../meshes/right_wheel_link.STL" /> -->
        <cylinder radius="0.1" length="0.03" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wheel_joint"
    type="fixed"
    dont_collapse="true">
    <origin
      xyz="-0.052094 0.01245 -0.29544"
      rpy="0 0 0" />
    <parent
      link="right_knee_link" />
    <child
      link="right_wheel_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-10000000"
      upper="10000000"
      effort="60"
      velocity="15.603" />
  </joint>
</robot>