<?xml version="1.0" encoding="utf-8"?><!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner
(brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="L2C_URDF02">
  <!-- <mujoco>
    <compiler meshdir="../meshes" discardvisual="false" balanceinertia="false" />
  </mujoco> -->

  <!-- <link name="world"></link>
  <joint name="base_joint" type="floating">
    <parent link="world" />
    <child link="base_link" />
  </joint> -->
  <link name="base_link">
    <inertial>
      <origin xyz="0.00053 -0.00121 0.12395" rpy="0 0 0" />
      <mass value="27.9" />
      <inertia ixx="0.78175" ixy="-0.00033086" ixz="-0.021881" iyy="0.42189" iyz="-0.0010877" izz="0.95262" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link name="right_hip_link">
    <inertial>
      <origin xyz="-0.02309 -0.00735 -0.06211" rpy="0 0 0" />
      <mass value="18.34" />
      <inertia ixx="0.3778" ixy="0.024932" ixz="0.044759" iyy="0.33868" iyz="0.061867" izz="0.14076" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_hip_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_hip_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_hip_joint" type="revolute">
    <origin xyz="-0.107 -0.1605 0.098" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="right_hip_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.3665" upper="1.0472" effort="745" velocity="2.9322" />
  </joint>
  <link name="right_knee_link">
    <inertial>
      <origin xyz="-0.03675 -0.0441 -0.0002" rpy="0 0 0" />
      <mass value="12.59" />
      <inertia ixx="0.074717" ixy="0.0022068" ixz="-0.00017556" iyy="0.88598" iyz="-0.00013118" izz="0.85861" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_knee_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_knee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_knee_joint" type="revolute">
    <origin xyz="0 -0.0635 -0.4" rpy="0 0 0" />
    <parent link="right_hip_link" />
    <child link="right_knee_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.0472" upper="0.3840" effort="880" velocity="5.6549" />
  </joint>
  <link name="fr_wheel_link">
    <inertial>
      <origin xyz="0 -0.019711 0" rpy="0 0 0" />
      <mass value="2.76" />
      <inertia ixx="0.030178" ixy="0" ixz="0" iyy="0.059327" iyz="0" izz="0.030178" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/fr_wheel_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.02 0" rpy="1.5707963 0 0" />
      <geometry>
        <!-- <mesh filename="../meshes/fr_wheel_link.STL" /> -->
        <cylinder radius="0.175" length="0.05"/>
      </geometry>
    </collision>
  </link>
  <joint name="fr_wheel_joint" type="revolute">
    <origin xyz="0.25 -0.06575 0" rpy="0 0 0" />
    <parent link="right_knee_link" />
    <child link="fr_wheel_link" />
    <axis xyz="0 1 0" />
    <limit lower="-999999" upper="999999" effort="460" velocity="5" />
  </joint>
  <link name="rr_wheel_link">
    <inertial>
      <origin xyz="0 -0.019711 0" rpy="0 0 0" />
      <mass value="2.76" />
      <inertia ixx="0.030178" ixy="0" ixz="0" iyy="0.059327" iyz="0" izz="0.030178" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/rr_wheel_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.02 0" rpy="1.5707963 0 0" />
      <geometry>
        <!-- <mesh filename="../meshes/rr_wheel_link.STL" /> -->
        <cylinder radius="0.175" length="0.05"/>
      </geometry>
    </collision>
  </link>
  <joint name="rr_wheel_joint" type="revolute">
    <origin xyz="-0.33 -0.06575 0" rpy="0 0 0" />
    <parent link="right_knee_link" />
    <child link="rr_wheel_link" />
    <axis xyz="0 1 0" />
    <limit lower="-999999" upper="999999" effort="460" velocity="5" />
  </joint>
  <link name="left_hip_link">
    <inertial>
      <origin xyz="-0.02308 0.00645 -0.06214" rpy="0 0 0" />
      <mass value="18.33" />
      <inertia ixx="0.37772" ixy="-0.024961" ixz="0.044754" iyy="0.33863" iyz="-0.061797" izz="0.14077" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_hip_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_hip_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_hip_joint" type="revolute">
    <origin xyz="-0.107 0.1605 0.098" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="left_hip_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.3665" upper="1.0472" effort="745" velocity="2.9322" />
  </joint>
  <link name="left_knee_link">
    <inertial>
      <origin xyz="-0.03688 0.04409 -0.00021" rpy="0 0 0" />
      <mass value="12.6" />
      <inertia ixx="0.074726" ixy="-0.0021482" ixz="-0.00010085" iyy="0.886" iyz="0.00013588" izz="0.85863" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_knee_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_knee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_knee_joint" type="revolute">
    <origin xyz="0 0.0635 -0.4" rpy="0 0 0" />
    <parent link="left_hip_link" />
    <child link="left_knee_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.0472" upper="0.3840" effort="880" velocity="5.6549" />
  </joint>
  <link name="fl_wheel_link">
    <inertial>
      <origin xyz="0 0.019711 0" rpy="0 0 0" />
      <mass value="2.76" />
      <inertia ixx="0.030178" ixy="0" ixz="0" iyy="0.059327" iyz="0" izz="0.030178" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/fl_wheel_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.02 0" rpy="1.5707963 0 0"/>
      <geometry>
        <!-- <mesh filename="../meshes/fl_wheel_link.STL" /> -->
        <cylinder radius="0.175" length="0.05"/>
      </geometry>
    </collision>
  </link>
  <joint name="fl_wheel_joint" type="revolute">
    <origin xyz="0.25 0.06575 0" rpy="0 0 0" />
    <parent link="left_knee_link" />
    <child link="fl_wheel_link" />
    <axis xyz="0 1 0" />
    <limit lower="-999999" upper="999999" effort="460" velocity="5" />
  </joint>
  <link name="rl_wheel_link">
    <inertial>
      <origin xyz="0 0.019711 0" rpy="0 0 0" />
      <mass value="2.76" />
      <inertia ixx="0.030178" ixy="0" ixz="0" iyy="0.059327" iyz="0" izz="0.030178" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/rl_wheel_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.02 0" rpy="1.5707963 0 0"/>
      <geometry>
        <!-- <mesh filename="../meshes/rl_wheel_link.STL" /> -->
        <cylinder radius="0.175" length="0.05"/>
      </geometry>
    </collision>
  </link>
  <joint name="rl_wheel_joint" type="revolute">
    <origin xyz="-0.33 0.06575 0" rpy="0 0 0" />
    <parent link="left_knee_link" />
    <child link="rl_wheel_link" />
    <axis xyz="0 1 0" />
    <limit lower="-999999" upper="999999" effort="460" velocity="5" />
  </joint>
</robot>