<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="y1aurdf20240523">
    <!-- [CAUTION] uncomment when convert to mujoco -->
    <!-- <mujoco>
        <compiler 
        meshdir="../meshes/" 
        balanceinertia="true" 
        discardvisual="false" />
    </mujoco>
    <link name="world"></link>
    <joint name="floating_base_joint" type="floating">
        <parent link="world"/>
        <child link="base_link"/>
    </joint>  -->

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.048987 -0.000219 0.13336"
        rpy="0 0 0" />
      <mass
        value="31.377" />
      <inertia
        ixx="0.66895"
        ixy="-0.006406"
        ixz="0.039872"
        iyy="0.78254"
        iyz="-0.000156"
        izz="1.0364" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8902 0.8902 0.91373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="right_hip_link">
    <inertial>
      <origin
        xyz="-0.002379 -0.012657 -0.046897"
        rpy="0 0 0" />
      <mass
        value="21.38" />
      <inertia
        ixx="0.41557"
        ixy="0.012013"
        ixz="0.081629"
        iyy="0.44474"
        iyz="0.050514"
        izz="0.21809" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8902 0.8902 0.91373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_joint"
    type="revolute">
    <origin
      xyz="-0.107 -0.1605 0.098"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_hip_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.3665 "
      upper="1.0472 "
      effort="745"
      velocity="2.9322 " />
  </joint>
  <link
    name="right_knee_link">
    <inertial>
      <origin
        xyz="-0.03675 -0.045099 -0.000197"
        rpy="0 0 0" />
      <mass
        value="12.592" />
      <inertia
        ixx="0.074715"
        ixy="0.002206"
        ixz="-0.000176"
        iyy="0.88594"
        iyz="-0.000131"
        izz="0.85857" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_knee_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8902 0.8902 0.91373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_knee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_knee_joint"
    type="revolute">
    <origin
      xyz="0 -0.0625 -0.4"
      rpy="0 0 0" />
    <parent
      link="right_hip_link" />
    <child
      link="right_knee_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.0472 "
      upper="0.3840 "
      effort="880"
      velocity="5.6549 " />
  </joint>
  <link
    name="rf_wheel_link">
    <inertial>
      <origin
        xyz="0 -0.019711 0"
        rpy="0 0 0" />
      <mass
        value="2.763" />
      <inertia
        ixx="0.030178"
        ixy="0"
        ixz="0"
        iyy="0.059327"
        iyz="0"
        izz="0.030178" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/rf_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.02 0" rpy="1.5707963 0 0"/>
      <geometry>
        <cylinder radius="0.175" length="0.05"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="rf_wheel_joint"
    type="revolute">
    <origin
      xyz="0.25 -0.06675 0"
      rpy="0 0 0" />
    <parent
      link="right_knee_link" />
    <child
      link="rf_wheel_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-200000"
      upper="200000"
      effort="460"
      velocity="5" />
  </joint>
  <link
    name="rb_wheel_link">
    <inertial>
      <origin
        xyz="0 -0.019711 0"
        rpy="0 0 0" />
      <mass
        value="2.763" />
      <inertia
        ixx="0.030178"
        ixy="0"
        ixz="0"
        iyy="0.059327"
        iyz="0"
        izz="0.030178" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/rb_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.02 0" rpy="1.5707963 0 0"/>
      <geometry>
        <cylinder radius="0.175" length="0.05"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="rb_wheel_joint"
    type="revolute">
    <origin
      xyz="-0.33 -0.06675 0"
      rpy="0 0 0" />
    <parent
      link="right_knee_link" />
    <child
      link="rb_wheel_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-200000"
      upper="200000"
      effort="460"
      velocity="5" />
  </joint>
  <link
    name="left_hip_link">
    <inertial>
      <origin
        xyz="-0.002364 0.012651 -0.046916"
        rpy="0 0 0" />
      <mass
        value="21.375" />
      <inertia
        ixx="0.4155"
        ixy="-0.01204"
        ixz="0.081629"
        iyy="0.44468"
        iyz="-0.05044"
        izz="0.21809" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8902 0.8902 0.91373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_joint"
    type="revolute">
    <origin
      xyz="-0.107 0.1605 0.098"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_hip_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.3665 "
      upper="1.0472 "
      effort="745"
      velocity="2.9322 " />
  </joint>
  <link
    name="left_knee_link">
    <inertial>
      <origin
        xyz="-0.036877 0.045091 -0.000204"
        rpy="0 0 0" />
      <mass
        value="12.594" />
      <inertia
        ixx="0.074724"
        ixy="-0.002149"
        ixz="-0.000101"
        iyy="0.88595"
        iyz="0.000135"
        izz="0.85859" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_knee_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8902 0.8902 0.91373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_knee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_knee_joint"
    type="revolute">
    <origin
      xyz="0 0.0625 -0.4"
      rpy="0 0 0" />
    <parent
      link="left_hip_link" />
    <child
      link="left_knee_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.0472 "
      upper="0.3840 "
      effort="880"
      velocity="5.6549" />
  </joint>
  <link
    name="lf_wheel_link">
    <inertial>
      <origin
        xyz="0 0.019711 0"
        rpy="0 0 0" />
      <mass
        value="2.763" />
      <inertia
        ixx="0.030178"
        ixy="0"
        ixz="0"
        iyy="0.059327"
        iyz="0"
        izz="0.030178" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/lf_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.02 0" rpy="1.5707963 0 0"/>
      <geometry>
        <cylinder radius="0.175" length="0.05"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="lf_wheel_joint"
    type="revolute">
    <origin
      xyz="0.25 0.06675 0"
      rpy="0 0 0" />
    <parent
      link="left_knee_link" />
    <child
      link="lf_wheel_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-200000"
      upper="200000"
      effort="460"
      velocity="5" />
  </joint>
  <link
    name="lb_wheel_link">
    <inertial>
      <origin
        xyz="0 0.019711 0"
        rpy="0 0 0" />
      <mass
        value="2.763" />
      <inertia
        ixx="0.030178"
        ixy="0"
        ixz="0"
        iyy="0.059327"
        iyz="-9.9472E-18"
        izz="0.030178" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/lb_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.02 0" rpy="1.5707963 0 0"/>
      <geometry>
        <cylinder radius="0.175" length="0.05"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="lb_wheel_joint"
    type="revolute">
    <origin
      xyz="-0.33 0.06675 0"
      rpy="0 0 0" />
    <parent
      link="left_knee_link" />
    <child
      link="lb_wheel_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-200000"
      upper="200000"
      effort="460"
      velocity="5" />
  </joint>
  <link
    name="right_arm_link1">
    <inertial>
      <origin
        xyz="0.012377 -0.056315 -9E-05"
        rpy="0 0 0" />
      <mass
        value="1.2717" />
      <inertia
        ixx="0.00142"
        ixy="-0.0001"
        ixz="-2E-06"
        iyy="0.00142"
        iyz="-1.4E-05"
        izz="0.001635" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_arm_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8902 0.8902 0.91373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_arm_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm_joint1"
    type="fixed">
    <origin
      xyz="0.052504 -0.1585 0.306"
      rpy="0 1.57 0" />
    <parent
      link="base_link" />
    <child
      link="right_arm_link1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.9671 "
      upper="2.9671 "
      effort="102"
      velocity="4.1888" />
  </joint>
  <link
    name="right_arm_link2">
    <inertial>
      <origin
        xyz="0.003578 -0.083931 -0.000191"
        rpy="0 0 0" />
      <mass
        value="1.3604" />
      <inertia
        ixx="0.002019"
        ixy="0.000379"
        ixz="-1.5E-05"
        iyy="0.001906"
        iyz="1.4E-05"
        izz="0.002497" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_arm_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8902 0.8902 0.91373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_arm_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm_joint2"
    type="fixed">
    <origin
      xyz="0 -0.062 0"
      rpy="-1 0 0" />
    <parent
      link="right_arm_link1" />
    <child
      link="right_arm_link2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.8326"
      upper="1.8326 "
      effort="102"
      velocity="4.1888" />
  </joint>
  <link
    name="right_arm_link3">
    <inertial>
      <origin
        xyz="0.00258 -0.1424 -0.000221"
        rpy="0 0 0" />
      <mass
        value="1.0767" />
      <inertia
        ixx="0.003876"
        ixy="-8.1E-05"
        ixz="0"
        iyy="0.000841"
        iyz="-1.8E-05"
        izz="0.004034" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_arm_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8902 0.8902 0.91373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_arm_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm_joint3"
    type="fixed">
    <origin
      xyz="0 -0.127 0"
      rpy="0 0 0" />
    <parent
      link="right_arm_link2" />
    <child
      link="right_arm_link3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.9671 "
      upper="2.9671 "
      effort="102"
      velocity="4.1888" />
  </joint>
  <link
    name="right_arm_link4">
    <inertial>
      <origin
        xyz="0.003834 -0.074349 -5.3E-05"
        rpy="0 0 0" />
      <mass
        value="0.64073" />
      <inertia
        ixx="0.001404"
        ixy="0.000189"
        ixz="0"
        iyy="0.000657"
        iyz="0"
        izz="0.001619" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_arm_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8902 0.8902 0.91373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_arm_link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm_joint4"
    type="fixed">
    <origin
      xyz="0 -0.173 0"
      rpy="-1.2 0 0" />
    <parent
      link="right_arm_link3" />
    <child
      link="right_arm_link4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.9199 "
      upper="1.9199 "
      effort="66"
      velocity="4.8171" />
  </joint>
  <link
    name="right_arm_link5">
    <inertial>
      <origin
        xyz="0.008639 -0.057667 0.000679"
        rpy="0 0 0" />
      <mass
        value="0.64519" />
      <inertia
        ixx="0.000826"
        ixy="-2.8E-05"
        ixz="1.6E-05"
        iyy="0.000617"
        iyz="-9E-06"
        izz="0.001097" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_arm_link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8902 0.8902 0.91373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_arm_link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm_joint5"
    type="fixed">
    <origin
      xyz="0 -0.133 0"
      rpy="0 0 0" />
    <parent
      link="right_arm_link4" />
    <child
      link="right_arm_link5" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.8798 "
      upper="2.8798 "
      effort="11"
      velocity="5.7596" />
  </joint>
  <link
    name="right_arm_link6">
    <inertial>
      <origin
        xyz="3E-06 0.000189 0.001313"
        rpy="0 0 0" />
      <mass
        value="0.40452" />
      <inertia
        ixx="0.000223"
        ixy="1E-06"
        ixz="-3E-06"
        iyy="0.000244"
        iyz="-1E-06"
        izz="0.000212" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_arm_link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8902 0.8902 0.91373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_arm_link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm_joint6"
    type="fixed">
    <origin
      xyz="0 -0.127 0"
      rpy="0 0 0" />
    <parent
      link="right_arm_link5" />
    <child
      link="right_arm_link6" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.9199 "
      upper="1.9199 "
      effort="11"
      velocity="5.7596" />
  </joint>
  <link
    name="right_arm_link7">
    <inertial>
      <origin
        xyz="0.000639 -0.087482 0.001191"
        rpy="0 0 0" />
      <mass
        value="0.69339" />
      <inertia
        ixx="0.00053"
        ixy="-1E-05"
        ixz="1E-06"
        iyy="0.000299"
        iyz="1.6E-05"
        izz="0.000518" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_arm_link7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8902 0.8902 0.91373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_arm_link7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm_joint7"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="right_arm_link6" />
    <child
      link="right_arm_link7" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.8326 "
      upper="1.8326 "
      effort="11"
      velocity="5.7596 " />
  </joint>
  <link
    name="left_arm_link1">
    <inertial>
      <origin
        xyz="0.012377 0.056315 9E-05"
        rpy="0 0 0" />
      <mass
        value="1.2717" />
      <inertia
        ixx="0.00142"
        ixy="0.0001"
        ixz="2E-06"
        iyy="0.00142"
        iyz="-1.4E-05"
        izz="0.001635" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_arm_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8902 0.8902 0.91373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_arm_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm_joint1"
    type="fixed">
    <origin
      xyz="0.052504 0.1585 0.306"
      rpy="0 1.57 0" />
    <parent
      link="base_link" />
    <child
      link="left_arm_link1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.9671 "
      upper="2.9671 "
      effort="102"
      velocity="4.1888" />
  </joint>
  <link
    name="left_arm_link2">
    <inertial>
      <origin
        xyz="0.003578 0.083931 0.000191"
        rpy="0 0 0" />
      <mass
        value="1.3604" />
      <inertia
        ixx="0.002019"
        ixy="-0.000379"
        ixz="1.5E-05"
        iyy="0.001906"
        iyz="1.4E-05"
        izz="0.002497" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_arm_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8902 0.8902 0.91373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_arm_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm_joint2"
    type="fixed">
    <origin
      xyz="0 0.062 0"
      rpy="1 0 0" />
    <parent
      link="left_arm_link1" />
    <child
      link="left_arm_link2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.8326 "
      upper="1.8326 "
      effort="102"
      velocity="4.1888" />
  </joint>
  <link
    name="left_arm_link3">
    <inertial>
      <origin
        xyz="0.00258 0.1424 0.000221"
        rpy="0 0 0" />
      <mass
        value="1.0767" />
      <inertia
        ixx="0.003876"
        ixy="8.1E-05"
        ixz="0"
        iyy="0.000841"
        iyz="-1.8E-05"
        izz="0.004034" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_arm_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8902 0.8902 0.91373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_arm_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm_joint3"
    type="fixed">
    <origin
      xyz="0 0.127 0"
      rpy="0 0 0" />
    <parent
      link="left_arm_link2" />
    <child
      link="left_arm_link3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.9671 "
      upper="2.9671 "
      effort="102"
      velocity="4.1888" />
  </joint>
  <link
    name="left_arm_link4">
    <inertial>
      <origin
        xyz="0.003834 0.074349 5.3E-05"
        rpy="0 0 0" />
      <mass
        value="0.64073" />
      <inertia
        ixx="0.001404"
        ixy="-0.000189"
        ixz="0"
        iyy="0.000657"
        iyz="0"
        izz="0.001619" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_arm_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8902 0.8902 0.91373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_arm_link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm_joint4"
    type="fixed">
    <origin
      xyz="0 0.173 0"
      rpy="1.2 0 0" />
    <parent
      link="left_arm_link3" />
    <child
      link="left_arm_link4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.9199 "
      upper="1.9199 "
      effort="66"
      velocity="4.8171"/>
  </joint>
  <link
    name="left_arm_link5">
    <inertial>
      <origin
        xyz="0.008639 0.057667 -0.000679"
        rpy="0 0 0" />
      <mass
        value="0.64519" />
      <inertia
        ixx="0.000826"
        ixy="2.8E-05"
        ixz="-1.6E-05"
        iyy="0.000617"
        iyz="-9E-06"
        izz="0.001097" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_arm_link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8902 0.8902 0.91373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_arm_link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm_joint5"
    type="fixed">
    <origin
      xyz="0 0.133 0"
      rpy="0 0 0" />
    <parent
      link="left_arm_link4" />
    <child
      link="left_arm_link5" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.8798 "
      upper="2.8798 "
      effort="11"
      velocity="5.7596" />
  </joint>
  <link
    name="left_arm_link6">
    <inertial>
      <origin
        xyz="3E-06 0.000189 0.001313"
        rpy="0 0 0" />
      <mass
        value="0.40452" />
      <inertia
        ixx="0.000223"
        ixy="1E-06"
        ixz="-3E-06"
        iyy="0.000244"
        iyz="-1E-06"
        izz="0.000212" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_arm_link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8902 0.8902 0.91373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_arm_link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm_joint6"
    type="fixed">
    <origin
      xyz="0 0.127 0"
      rpy="0 0 0" />
    <parent
      link="left_arm_link5" />
    <child
      link="left_arm_link6" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.9199 "
      upper="1.9199 "
      effort="11"
      velocity="5.7596" />
  </joint>
  <link
    name="left_arm_link7">
    <inertial>
      <origin
        xyz="-0.000639 0.087482 0.001191"
        rpy="0 0 0" />
      <mass
        value="0.693389" />
      <inertia
        ixx="0.00053"
        ixy="-1E-05"
        ixz="-1E-06"
        iyy="0.000299"
        iyz="-1.6E-05"
        izz="0.000518" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_arm_link7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8902 0.8902 0.91373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_arm_link7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm_joint7"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="left_arm_link6" />
    <child
      link="left_arm_link7" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.8326 "
      upper="1.8326 "
      effort="11"
      velocity="5.7596 " />
  </joint>
</robot>
