<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="l5aurdf20260521">

  <mujoco>
    <compiler meshdir="../meshes" discardvisual="false" balanceinertia="false" />
  </mujoco>

<!-- 由urdf生成xml时需打开下面注释，生成完之后进行注释 -->
  <!-- <link 
    name="world">
  </link>
  <joint 
    name="base_joint" type="floating">
    <parent link="world" />
    <child link="base_link" />
  </joint> -->

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.057921 0.000679 0.013437"
        rpy="0 0 0" />
      <mass
        value="9.6101" />
      <inertia
        ixx="0.12573"
        ixy="0.0005"
        ixz="0.027108"
        iyy="0.11618"
        iyz="-0.000592"
        izz="0.10822" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8902 0.8902 0.91373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_hip_roll_link">
    <inertial>
      <origin
        xyz="-0.067435 0.052643 -3.2E-05"
        rpy="0 0 0" />
      <mass
        value="1.2052" />
      <inertia
        ixx="0.001653"
        ixy="0.000623"
        ixz="0"
        iyy="0.002402"
        iyz="1E-06"
        izz="0.002368" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8902 0.8902 0.91373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_roll_joint"
    type="revolute">
    <origin
      xyz="-0.027 0.105 -0.1017"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_hip_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.384"
      upper="1.396"
      effort="90"
      velocity="16.433" />
  </joint>
  <link
    name="left_hip_pitch_link">
    <inertial>
      <origin
        xyz="-0.032261 -0.059213 -0.041738"
        rpy="0 0 0" />
      <mass
        value="2.294" />
      <inertia
        ixx="0.017999"
        ixy="0.001578"
        ixz="-0.009529"
        iyy="0.023509"
        iyz="0.002039"
        izz="0.009994" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_pitch_joint"
    type="revolute">
    <origin
      xyz="-0.08 0.0375 0"
      rpy="0 0 0" />
    <parent
      link="left_hip_roll_link" />
    <child
      link="left_hip_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.908"
      upper="1.396"
      effort="90"
      velocity="16.433" />
  </joint>
  <link
    name="left_knee_link">
    <inertial>
      <origin
        xyz="0.11397 -0.00529 -0.19558"
        rpy="0 0 0" />
      <mass
        value="1.6802" />
      <inertia
        ixx="0.017804"
        ixy="0.000397"
        ixz="0.009364"
        iyy="0.023805"
        iyz="-0.000707"
        izz="0.006727" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_knee_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8902 0.8902 0.91373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_knee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_knee_joint"
    type="revolute">
    <origin
      xyz="-0.15 -0.0375 -0.25981"
      rpy="0 0 0" />
    <parent
      link="left_hip_pitch_link" />
    <child
      link="left_knee_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.309"
      upper="0.262"
      effort="130"
      velocity="14.653" />
  </joint>
  <link
    name="left_wheel_link">
    <inertial>
      <origin
        xyz=" -0.007268  0.034782 -0.003159"
        rpy="0 0 0" />
      <mass
        value="1.232459" />
      <inertia
        ixx="0.004718"
        ixy="0"
        ixz="0"
        iyy=" 0.008809"
        iyz="0"
        izz="0.004718" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0.035 0"
        rpy="1.5707963267948966 0 0" />
      <geometry>
        <cylinder
          radius="0.127"
          length="0.04" />
      </geometry>
    </collision>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_wheel_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="left_wheel_joint"
    type="revolute">
    <origin
      xyz="0.15 0.0135 -0.25981"
      rpy="0 0 0" />
    <parent
      link="left_knee_link" />
    <child
      link="left_wheel_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1000000"
      upper="1000000"
      effort="90"
      velocity="16.433" />
  </joint>
  <link
    name="right_hip_roll_link">
    <inertial>
      <origin
        xyz="-0.067435 -0.052643 3.2E-05"
        rpy="0 0 0" />
      <mass
        value="1.2052" />
      <inertia
        ixx="0.001653"
        ixy="-0.000623"
        ixz="0"
        iyy="0.002402"
        iyz="1E-06"
        izz="0.002368" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_roll_joint"
    type="revolute">
    <origin
      xyz="-0.027 -0.105 -0.1017"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_hip_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.396"
      upper="0.384"
      effort="90"
      velocity="16.433" />
  </joint>
  <link
    name="right_hip_pitch_link">
    <inertial>
      <origin
        xyz="-0.026447 0.059888 -0.032975"
        rpy="0 0 0" />
      <mass
        value="2.8399" />
      <inertia
        ixx="0.019286"
        ixy="-0.001629"
        ixz="-0.010145"
        iyy="0.025049"
        iyz="-0.002114"
        izz="0.010722" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_pitch_joint"
    type="revolute">
    <origin
      xyz="-0.08 -0.0375 0"
      rpy="0 0 0" />
    <parent
      link="right_hip_roll_link" />
    <child
      link="right_hip_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.908"
      upper="1.396"
      effort="90"
      velocity="16.433" />
  </joint>
  <link
    name="right_knee_link">
    <inertial>
      <origin
        xyz="0.11394 0.005271 -0.19561"
        rpy="0 0 0" />
      <mass
        value="1.6815" />
      <inertia
        ixx="0.017787"
        ixy="-0.000395"
        ixz="0.009345"
        iyy="0.023772"
        iyz="0.000707"
        izz="0.006713" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_knee_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8902 0.8902 0.91373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_knee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_knee_joint"
    type="revolute">
    <origin
      xyz="-0.15 0.0375 -0.25981"
      rpy="0 0 0" />
    <parent
      link="right_hip_pitch_link" />
    <child
      link="right_knee_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.309"
      upper="0.262"
      effort="130"
      velocity="14.653" />
  </joint>
  <link
    name="right_wheel_link">
    <inertial>
      <origin
        xyz="-0.000001 -0.034784 0"
        rpy="0 0 0" />
      <mass
        value="1.233799" />
      <inertia
        ixx="0.004718"
        ixy="0"
        ixz="0"
        iyy="0.008809"
        iyz="0"
        izz="0.004718" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 -0.035 0"
        rpy="1.5707963267948966 0 0" />
      <geometry>
        <cylinder
          radius="0.127"
          length="0.04" />
      </geometry>
    </collision>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_wheel_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="right_wheel_joint"
    type="revolute">
    <origin
      xyz="0.15 -0.0135 -0.25981"
      rpy="0 0 0" />
    <parent
      link="right_knee_link" />
    <child
      link="right_wheel_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1000000"
      upper="1000000"
      effort="90"
      velocity="16.433" />
  </joint>
</robot>